<div style="background: linear-gradient(to bottom, #07A94D 0%, #ffffff 100%);">

    <br>
    <a href="https://www.kasikornbank.com">
      <img width="300" alt="Kbank Logo" src="\assets\kbank-header.png" style="margin-left: 2%">
    </a>
    <br>
    <br>
  </div>
<div style="text-align: center; vertical-align: middle;">
  <h2 style="margin-top:0px;">
    <img width="25" alt="pp Logo" src="\assets\success.png">
    <br>
    <b> Registration Success</b>
  </h2>

  <div class="text_group">
    <br>
    <label for="acname">
      <b>account name :
        <span class="data">{{name}}</span>
      </b>
    </label>
    <br>
    <br>
    <label for="acnumber">
      <b>account number :
        <span class="data">
          <img width="20" alt="Kbank Logo" src="\assets\logo.png"> {{account}}</span>
      </b>
    </label>
    <br>
    <br>
    <label for="number">
      <b>linked number :
        <span class="data">{{num}}</span>
      </b>
    </label>
    <br>
    <br>
    <label for="type">
      <b>account type :
        <span class="data">{{type}}</span>
      </b>
    </label>
    <br>
    <br>
    <label for="RegisterDTM">
      <b>registration time :
        <span class="data">{{RegisterDTM}} </span>
      </b>
    </label>
    <br>
    <br>

  </div>
  <br>
  <button class="backbtn" (click)="clickBack();">
    <span>Back</span>
  </button>
</div>
